@font-face {
	font-family: "AlQalam";
	src: url('../fonts/AlQalam.ttf');
}
@font-face {
	font-family: "Mehr";
	src: url('../fonts/Mehr.ttf');
}

.urdu {
	font-family: Mehr !important;
	font-size: 18px !important;
}

body{
	background-color:black;
}
.label-urdu {
	font-family: 'Mehr';
	font-size: 23px;
	color: #c7c6c6;
	text-align: right;
	width: 700px;
	text-align: right;
	position: absolute;
	right: 20px;
}
